.gradient-custom-2 {
    
    background: #780202;
    
}

#loginLogoContainer {
    background-color: rgb(120, 2, 2) !important
}

#loginPlaceholderImg {
    background-image: url("../Img/pexels-rene-strgar-13814644.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}


@media (min-width: 768px) {
    .gradient-form {
       
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
